<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddNewRaceServlet</servlet-name>
        <servlet-class>Servlets.AddNewRaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRaceServlet</servlet-name>
        <servlet-class>Servlets.additionServlets.AddRaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewRuleSet</servlet-name>
        <servlet-class>Servlets.AddNewRuleSet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRuleSet</servlet-name>
        <servlet-class>Servlets.additionServlets.AddRuleSet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSkillServlet</servlet-name>
        <servlet-class>Servlets.AddNewSkillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSkillServlet</servlet-name>
        <servlet-class>Servlets.additionServlets.AddSkillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCharServlet</servlet-name>
        <servlet-class>Servlets.CharacterCreation.CreateCharServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNameServlet</servlet-name>
        <servlet-class>Servlets.CharacterCreation.SetNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetRaceServlet</servlet-name>
        <servlet-class>Servlets.CharacterCreation.SetRaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewClassSkillServlet</servlet-name>
        <servlet-class>Servlets.AddNewClassSkillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewClassServlet</servlet-name>
        <servlet-class>Servlets.AddNewClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassServlet</servlet-name>
        <servlet-class>Servlets.additionServlets.AddClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassSkillServlet</servlet-name>
        <servlet-class>Servlets.additionServlets.AddClassSkillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewRaceServlet</servlet-name>
        <url-pattern>/AddNewRace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRaceServlet</servlet-name>
        <url-pattern>/AddRace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewRuleSet</servlet-name>
        <url-pattern>/AddNewRuleSet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRuleSet</servlet-name>
        <url-pattern>/AddRuleSet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSkillServlet</servlet-name>
        <url-pattern>/AddNewSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSkillServlet</servlet-name>
        <url-pattern>/AddSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCharServlet</servlet-name>
        <url-pattern>/CreateChar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNameServlet</servlet-name>
        <url-pattern>/SetName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetRaceServlet</servlet-name>
        <url-pattern>/SetRace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewClassSkillServlet</servlet-name>
        <url-pattern>/AddNewClassSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewClassServlet</servlet-name>
        <url-pattern>/AddNewClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassServlet</servlet-name>
        <url-pattern>/AddClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassSkillServlet</servlet-name>
        <url-pattern>/AddClassSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
